/*Generelt*/

img {
    width: 100%;
    filter: grayscale(100%)
}

img:hover {
    filter: grayscale(0%)
}


header {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
}

header nav a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    flex-grow: 1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 10px;


}

h1 {
    text-align: center;
    font-size: 2rem;
    flex-basis: 200px;
    flex-grow: 1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}
